# Auto detect text files
* text=auto

*.apl? linguist-language=apl
*.dyapp linguist-language=apl
*.dyalog linguist-language=apl
*.dws linguist-language=apl

Dist/ linguist-vendored=true
CSS/ linguist-vendored=true
Docs/ linguist-vendored=true
Testcases/ linguist-vendored=true
*.js linguist-vendored=true
*.html/ linguist-vendored=true
*.iss/ linguist-vendored=true