{  CIDER: {    dependencies: {      tatin: "./packages/",    },    dependencies_dev: {      tatin: "./packages_dev=TestCases",    },    distributionFolder: "Dist",    init: "Initialize",    make: "Admin.Make 1",    parent: "#",    projectSpace: "Fire",    project_url: "https://github.com/aplteam/Fire",    source: "APLSource",    tests: "TestCases.RunTests",  },  LINK: {    forceFilenames: 1,    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
