<tool name="Fire">  <version>7.2.0</version>  <date>2019-07-10</date>  <main>Fire</main>  <container>#._Fire</container>  <files>    <file>Fire_UC.dyalog</file>    <file>ReadMe.html</file>    <file>HowToInstall.html</file>    <file>UsefulRegExes.html</file>  </files>  <ignoreForNow>    <file>conga30ssl32.dll</file>    <file>conga30_32.dll</file>    <file>conga30ssl64.dll</file>    <file>conga30_64.dll</file>  </ignoreForNow>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinReg</script>    <script development="true">Tester</script>    <script>GitHubAPIv3</script>  </needs>  <ignoreForNow>    <ws copy="Rumba">Rumba</ws>  </ignoreForNow>  <scriptOnly>0</scriptOnly>  <wsid>Fire</wsid>  <autoload>1</autoload>  <buildid>102</buildid></tool>