<tool name="Fire">  <version>7.3.0</version>  <date>2019-08-16</date>  <container>#._Fire</container>  <ignoreForNow>    <file>conga30ssl32.dll</file>    <file>conga30_32.dll</file>    <file>conga30ssl64.dll</file>    <file>conga30_64.dll</file>  </ignoreForNow>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinReg</script>    <script development="true">Tester</script>    <script>GitHubAPIv3</script>  </needs>  <ignoreForNow>    <ws copy="Rumba">Rumba</ws>  </ignoreForNow>  <autoload>1</autoload>  <buildid>120</buildid></tool>